# ==============================================================================
# 1. FLUTTER & DART (Archivos de compilación pesados)
# ==============================================================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.apk
*.aab

# ==============================================================================
# 2. ANDROID NATIVO & GRADLE (Lo que ya tenías)
# ==============================================================================
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Claves criptográficas y credenciales de firma (Seguridad)
key.properties
**/*.keystore
**/*.jks

# ==============================================================================
# 3. BACKEND PYTHON & FLASK
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/

# ==============================================================================
# 4. ENTORNO VISUAL STUDIO CODE & SISTEMA OPERATIVO
# ==============================================================================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db